*{
  margin: 0;
  padding :0;
  font-family: 'Quicksand', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/hogwarts.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header#houses{
  min-height: 20vh;
  width: 100%;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;
  transition: all 0.5s linear;
}

nav img:hover {
  filter: drop-shadow(0px 0px 20px rgb(255, 196, 0));
}

#slytherin:hover {
  filter: drop-shadow(0px 0px 20px rgb(5, 146, 29));
}

#ravenclaw:hover {
  filter: drop-shadow(0px 0px 20px rgb(22, 76, 192));
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}

.nav-links ul li:after{
  content: "";
  width: 0%;
  height: 2px;
  background: #000000;
  display: block;
  margin: auto;
  transition: 1s;
}

#homeli:after{
  background: rgb(255, 196, 0);
}

#homea:hover{
animation: 6s home;
color: rgb(255, 196, 0);
}
@keyframes home{
0% {
    color: #7f0909;
}
25% {
    color: #1a472a
}
50% {
    color: #ffdb00;
}
75% {
    color: #0e1a40;
}
100% {
    color: rgb(255, 196, 0);
}
}

#gryffindorli::after{
background: #7f0909;
}

#gryffindora:hover{
color: #7f0909;
animation: 3s gryffindor;
}

@keyframes gryffindor{
0% {
    color: #ae0001;
}
50% {
    color: #d3a625;
}
100% {
    color: #7f0909;
}
}

#slytherinli::after{
background: #1a472a;
}

#slytherina:hover{
color: #1a472a;
animation: 3s slytherin;
}

@keyframes slytherin{
0% {
    color: #2a623d;
}
50% {
    color: #5d5d5d;
}
100% {
    color: #1a472a;
}
}

#hufflepuffli::after{
background: #ffdb00;
}

#hufflepuffa:hover{
color: #ffdb00;
animation: 3s hufflepuff;
}

@keyframes hufflepuff{
0% {
    color: #FFF4b1;
}
50% {
    color: #000000;
}
100% {
    color: #ffdb00;
}
}

#ravenclawli::after{
background: #0e1a40;
}

#ravenclawa:hover{
color: #0e1a40;
animation: 3s ravenclaw;
}

@keyframes ravenclaw{
0% {
    color: #222f5b;
}
50% {
    color: #5d5d5d;
}
100% {
    color: #0e1a40;
}
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 70px;
}

.text-box p{
margin: 10px 0 5px;
font-size: 18px;
}

nav .bi{
  display: none;
}

/* Mobile */
@media(min-width: 300px) and (max-width: 700px){
  .text-box{
    margin-top: 25px;
  }
  .text-box h1{
    font-size: 20px;
    margin-top: 30px;
  }
  .text-box p{
    font-size: 12px;
  }
  nav img{
    width: 100px;
  }
  .nav-links ul li a{
    font-size: 15px;
  }
  .row{
    flex-direction: column;
  }
  .quotes-col img{
    margin-left: 0px;
    margin-right: 15px;
  }
  .quotes-col p{
    font-size: 12px;
  }
  .quotes-col h3{
    font-size: 16px;
  }
  .footer p{
    font-size: 12px;
  }
  .footer .icons img{
    width: 8%;
  }
}

/* iPad */
@media(min-width: 701px) and (max-width: 1024px){
  .text-box h1{
    font-size: 50px;
    margin-top: 200px;
  }
  .text-box p{
    font-size: 25px;
    line-height: 30px;
    padding: 10px;
  }
  nav img{
    width: 120px;
  }
  .nav-links ul li a{
    font-size: 30px;
  }
  .row{
    flex-direction: column;
  }
  .school h1{
    font-size: 50px;
  }
  .school p{
    font-size: 30px;
    padding: 10px;
    line-height: 40px;
  }
  .houses h1{
    font-size: 50px;
  }
  .houses p{
    font-size: 30px;
    padding: 10px;
    line-height: 40px;
  }
  .houses ul li{
    font-size: 30px;
    padding: 10px;
    line-height: 20px;
  }
  .members p{
    font-size: 30px;
    padding: 10px;
    line-height: 40px;
  }
  .members h1{
    font-size: 50px;
  }
  .quotes h1{
    font-size: 50px;
  }
  .quotes h3{
    font-size: 30px;
  }
  .quotes-col p{
    font-size: 25px;
    padding: 10px;
    line-height: 40px;
  }
  .quotes-col img{
    margin-left: 0px;
    margin-right: 15px;
  }
  .footer p{
    font-size: 20px;
  }
  .footer h1{
    font-size: 50px;
  }
  .footer .icons img{
    width: 8%;
  }
}

.houses{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.houses-col{
  flex-basis: 31%;
  background:rgb(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.houses-col#gryffindor{
  background:#7f0909;
  color: #d3a625;
}

.houses-col#slytherin{
  background:#1a472a;
  color: #000000;
}

.houses-col#hufflepuff{
  background:#ffdb00;
  color: #000000;
}

.houses-col#ravenclaw{
  background:#0e1a40;
  color: #ffffff;
}

.houses-col ul {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  list-style: none;
}

.houses-col li {
  text-align: center;
  font-size: 20px;
  margin: 5px 0;
}

h3{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.houses-col:hover{
  box-shadow: 0 0 20px 0px #000000;
}

.school{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.school-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.school p{
  margin: 10px 0 5px;
  font-size: 18px;
  }

.school-col img{
  width: 100%;
  height: 100%;
  display: block;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  cursor: pointer;
}

.layer:hover{
  background: rgb(255, 196, 0, 0.3);
}

.layer h3{
  width: 100%;
  font-size: 25px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 50%;
  opacity: 1;
}

.members{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.members-col{
  flex-basis: 31%;
  border-radius: 10px;
  text-align: center;
}

.members-col img{
  width: 100%;
  border-radius: 10px;
  height: 70%;
}

.members-col img:hover{
  opacity: 0.7;
}

.members-col{
  padding: 0;
}

.members-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
}

.quotes{
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

.quotes-col{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  display: flex;
}

.quotes-col img{
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 10%;
}

.quotes-col p{
  padding: 0;
}

.quotes-col h3{
  margin-top: 15px;
  text-align: left;
}

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 15px;
  font-size: 20px;
}

.footer hr{
width: 30%;
margin: auto;
}

.icons img{
  width: 2%;
  margin: 0 10px;
  cursor: pointer;
  padding: 5px 0;
}

.icons img:hover{
  opacity: 0.5;
}